<!-- Font Awesome -->
<script src="{{ static('plugins/fontawesome-free/js/all.min.js') }}"></script>
<!-- jQuery -->
<script src="{{ static('plugins/jquery/jquery.min.js') }}"></script>
<!-- jQuery Plugin: Validate -->
<script src="{{ static('plugins/jquery-validation/jquery.validate.min.js') }}"></script>
<script src="{{ static('plugins/jquery-validation/additional-methods.min.js') }}"></script>
<!-- Bootstrap 4 -->
<script src="{{ static('plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<!-- KnockoutJS -->
<script src="{{ static('plugins/knockout/knockout.js') }}"></script>
<!-- AdminLTE App -->
<script src="{{ static('dist/js/adminlte.min.js') }}"></script>
<!-- App Scripts -->
<script src="{{ static('dist/js/app.js') }}"></script>