<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="FCC Broadband Consumer Label Maker">
    <meta name="keywords" content="app, responsive, jquery, bootstrap, dashboard, admin, fcc, label, broadband, consumer">
    <link rel="icon" type="image/x-icon" href="{{ static('img/favcon/favicon.ico') }}">
    <title>Broadband Labeler - {% block title %}{% endblock %}</title>
    {% include 'layout/head-styles.jinja2' %}
    {% block html_head %}{% endblock %}
</head>
<body class="sidebar-collapse">
<div id="app">
    <div class="wrapper">

        {% block content %}{% endblock %}

        <footer class="main-footer">
            <div class="float-right d-none d-sm-block">
                <b>Version</b> 0.1.0
            </div>
            <strong>Created by <a href="https://azorian.solutions" target="_blank">Azorian Solutions</a>.</strong>
        </footer>

        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
    </div>
</div>
{% include 'layout/footer-scripts.jinja2' %}
{% block footer_scripts scoped %}{% endblock %}
</body>
</html>